<!doctype html>
<html lang="en">

{{ include('connection.php') }}
{{ include('articles_getter.php') }}

<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>

<body>
    {{ include('navbar.html.twig') }}

    {% block body %}
    {% endblock %}

    {# Footer here #}

    {% block javascripts %}
        {# Javascript here#}
    {% endblock %}
</body>
</html>
