{% extends 'base.html.twig' %}

{% block body %}


    <h1>{{ title }}</h1>

    <h2><?php echo $article; ?></h2>

    {% if articles %}
        <ul>

            {% for article in articles %}
                <li>{{ article.title }}</li>
            {% endfor %}

        </ul>
    {% else %}
        <h2>No articles</h2>
    {% endif %}

{% endblock %}
